@font-face{
	font-family:'MorseCode';
	src: url('MorseCode-Display_otf.woff2') format('woff2');
	font-weight: 300;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffcef; /* Matches webpage background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999; /* Ensure it stays on top */
    opacity: 1; /* Start fully visible */
    transition: opacity 1s ease; /* Smooth dissolve effect */
}

#loader h2 {
    font-size: 6rem;
    color: #ee2542; /* Text color */
    text-align: center;
}

/* Hidden state for loader */
#loader.hidden {
    opacity: 0; /* Fade out */
    pointer-events: none; /* Prevent interaction */
}
h1{
font-size: 25px



}



body {
    font-family: 'MorseCode';
    font-size: 20px;
    padding: 15px;
    background-color: #fffcef; /* Light background */
    cursor: none; 
p{
    text-align:left;
}
.circle-cursor {
            width: 20px; /* Diameter of the circle */
            height: 20px; /* Diameter of the circle */
            background-color: #b3eaff; /* Circle color */
            border-radius: 50%; /* Makes it a circle */
            position: fixed; /* Keeps it fixed to the viewport */
            pointer-events: none; /* Allows clicks to pass through */
            transform: translate(-50%, -50%); /* Center the circle on the cursor */
            z-index: 9999; /* Keeps it on top of all content */
}
/* Container to hold the grid layout */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 20px; /* Space between grid items */
}

/* Gallery item styling */
.gallery-item {
    background-color: #ffffff; /* White background for each item */
    border: 0px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}

.gallery-item img {
    max-width: 100%;
    width: 100%; /* Image fills the container */
    height: auto;
    border-bottom: 0px solid #ddd;
    border-radius: 8px 8px 0 0;
    transition: transform 0.3s ease
}
img:hover {
    transform: scale(1.6); /* Enlarge the image by 40% */
}

.gallery-item p {
    margin-top: 8px;
    font-size: 0.9em;
    color: #555;
}

/* Hover effect for each gallery item */
.gallery-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
