@font-face{
	font-family:'MorseCode';
	src: url('MorseCode-Display_otf.woff2') format('woff2');
	font-weight: 300;
}


/* Body with padding around the page */
h1{
font-size: 25px




}




body {
    font-family: 'MorseCode';
    font-size: 20px;
    padding: 15px;
    background-color: #f9f9f9; /* Light background */
    cursor: none; 
p{
    text-align:left;
}
.circle-cursor {
            width: 20px; /* Diameter of the circle */
            height: 20px; /* Diameter of the circle */
            background-color: #74cffd; /* Circle color */
            border-radius: 50%; /* Makes it a circle */
            position: fixed; /* Keeps it fixed to the viewport */
            pointer-events: none; /* Allows clicks to pass through */
            transform: translate(-50%, -50%); /* Center the circle on the cursor */
            z-index: 9999; /* Keeps it on top of all content */
}
/* Container to hold the grid layout */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 20px; /* Space between grid items */
}

/* Gallery item styling */
.gallery-item {
    background-color: #ffffff; /* White background for each item */
    border: 0px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}

.gallery-item img {
    width: 100%; /* Image fills the container */
    height: auto;
    border-bottom: 0px solid #ddd;
    border-radius: 8px 8px 0 0;
}

.gallery-item p {
    margin-top: 8px;
    font-size: 0.9em;
    color: #555;
}

/* Hover effect for each gallery item */
.gallery-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
