@font-face{
	font-family:'MorseCode';
	src: url('MorseCode-Display_otf.woff2') format('woff2');
	font-weight: 400;
}




body{
	/* this is the outermost element on your page*/
	background: #FFFFE9;
	font-family: 'MorseCode';
	font-size: 100px;
	color:hsl(342, 100%, 62%);
	transition: background-color 0.3s ease, color 0.3s ease;
}
a{
	color: hsl(339, 20%, 34%);

body.dark-mode {
  background-color: black;
  color: white;
}

/* Button Styling */
button {
  position: fixed;
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  padding: 10px 20px;
  cursor: pointer;
  background-color: #210124;
  color: #FFFFE9;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000; /* Ensure it stays on top of other elements */
}

button:hover {
  background-color: #81028C;
}